VITE_SUPABASE_URL=https://yzkzrroeiwbqgxnrogbd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6a3pycm9laXdicWd4bnJvZ2JkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDE5ODY1NjUsImV4cCI6MjA1NzU2MjU2NX0.02uSaYnGDEnl7KMIVjlb4AaaP1y0D4zQlj2vlUExcnc
VITE_VIDEO_DESKTOP_URL=https://yzkzrroeiwbqgxnrogbd.supabase.co/storage/v1/object/public/videos/bg2.mp4
VITE_VIDEO_MOBILE_URL=https://yzkzrroeiwbqgxnrogbd.supabase.co/storage/v1/object/public/videos/iosbg.mp4